# Data Cleaning

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Set the url we want to import the data from

In [2]:
url = 'https://raw.githubusercontent.com/FrancescoMariottini/project3/main/inputs/sales_data_final_final.csv'

### Step 3. Assign it to a pandas DataFrame

In [3]:
df = pd.read_csv(url)
df

/home/jo/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (9,11,12,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87475,3,8790149,NaN,8400.0,False,Apartment,"€169,000",for sale,2,80,...,0,NaN,4,NaN,0,NaN,NaN,0,0,0
87476,3,8913091,NaN,1800.0,False,Apartment,"€390,000",for sale,4,239,...,0,NaN,0,NaN,0,NaN,NaN,0,0,0
87477,3,8913078,NaN,7500.0,False,Apartment,"€150,000",for sale,2,99,...,0,NaN,0,NaN,0,NaN,NaN,0,0,Good
87478,3,8863524,NaN,1150.0,False,Apartment,"€250,000",for sale,1,80,...,0,NaN,0,NaN,0,NaN,NaN,0,0,Good
87479,3,8913056,NaN,9230.0,False,Apartment,"€142,000",for sale,1,83,...,0,NaN,0,NaN,38,NaN,NaN,2,0,Good

In [4]:
df.dtypes

source                  int64
hyperlink              object
locality               object
postcode              float64
house_is                 bool
property_subtype       object
price                  object
sale                   object
rooms_number           object
area                   object
kitchen_has            object
furnished              object
open_fire              object
terrace                object
terrace_area           object
garden                 object
garden_area            object
land_surface           object
land_plot_surface      object
facades_number         object
swimming_pool_has      object
building_state         object
dtype: object